* body {
  background-color: #0077A7;
}

* {
    font-family: "Maven Pro", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #CC7200;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 0;
  }
  
  .logo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 10px;
  }
  
  h3 {
    display: flex;
    align-items: center;
    color: white;
  }

  header h3 {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.2em;
  }
  
  nav {
    background-color: #CC7200;
    margin-right: 20px;
  }
  
  ul {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  nav ul li {
    list-style-type: none;
    margin-left: 20px;
  }
  
  ul li a {
    text-decoration: none;
    color: white;
  }

  .redes-sociais{
    display: flex;
    padding: 8px;

  }
  
  .redes-sociais a {
    margin-left: 10px;
    margin-right: 20px;
  }

  
  section {
    display: flex;
    padding: 50px;
    justify-content: space-between;
  }
  
  .sidebar ul {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .sidebar ul li img {
    width: 100%;
    height: auto;
    border: 3px solid white;
    border-radius: 50px 21px 50px 21px;
    margin: 5px;
  }
  
  * {
    font-size: 16px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }
  
  a {
    transition: color 0.2s;
  }
  
  a:hover {
    color: #964B00;
  }
  
  li {
    list-style-type: none;
  }
  
  footer {
    background-color: #CC7200;
    display: flex;
    justify-content: center;
    padding: 8px;
    margin-bottom: 12px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: lightgray;
    border-radius: 16px;
    padding: 1.5rem 40px;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  label {
    margin-bottom: .2rem;
    position: relative;
  }
  
  label:not(:first-of-type){
    margin-top: 1rem;
  }
  
  input {
    padding: .2rem .5rem;
  }
  
  .helper-text {
    display: none;
    font-size: .8rem;
    color: darkred;
  }
  
  button {
    width: 100px;
    height: 40px;
    margin-top: 1.5rem;
    font-size: 1rem;
    align-self: center;
  }
  
  /* ---------- Estilos dinâmicos ---------- */
  .required-popup::after {
    content: "*Campo obrigatório";
    position: absolute;
    top: 0;
    right: 0;
    color: #DFDFDF;
    font-size: .65rem;
    padding: .2rem .3rem;
    width: auto;
    display: block;
    background-color: #202020;
  }
  
  input.error {
    border: solid 2px #992020;
    background-color: #CCBBBB;
    color: #662020;
  }
  
  input.correct {
    background-color: #BBCCBB;
    border: solid 2px #206620;
    color: #206620;
  }
  
  .visible {
    display: block;
  }