/** {
    font-family: "Maven Pro", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #964B00;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 0;
}

.logo {
    border-radius: 50%;
}

nav {
    background-color: #964B00;
    margin-right: 20px;
}

ul {
    display: flex;
    align-items: center;
    height: 100%;
}

nav ul li {
    list-style-type: none;
    margin-left: 20px;
}

ul li a {
    text-decoration: none;
    color: white;
  }

footer {
    background-color: #964B00;
    display: flex;
    justify-content: center;
    padding: 8px;
    margin-bottom: 12px;
}

section {
    display: flex;
    padding: 50px;
    justify-content: space-between;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
  }
  
  .sidebar ul li img {
    width: 100%;
    height: auto;
  }

  .sidebar ul li img {
    border: 15px solid #964B00;
  }

  li {
    list-style-type: none;
  }
  */


  html body {
    width: 100%;
    max-width: 100vw;
  }

  body {
    background: rgb(109, 173, 215);
    background: linear-gradient(90deg, rgba(109, 173, 215,1) 0%, rgba(144, 90, 173,1) 100%);
  }
  *{
    font-family: "Maven Pro", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #CC7200;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 0;
  }

  .logo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 10px;
  }
  
  h3 {
    display: flex;
    align-items: center;
    color: white;
    font-size: 150%;
  }

  header h3 {
    font-family: serif;
  
  }

  
  nav {
    background-color: #CC7200;
    margin-right: 20px;
  }
  
  ul {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  nav ul li {
    list-style-type: none;
    margin-left: 20px;
  }
  
  ul li a {
    text-decoration: none;
    color: white;
  }

  .redes-sociais{
    display: flex;
    padding: 8px;

  }
  
  .redes-sociais a {
    margin-left: 10px;
    margin-right: 20px;
  }

  
  section {
    display: flex;
    padding: 20px;
    justify-content: space-between;
  }
  
  .sidebar ul {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .sidebar ul li img {
    width: 100%;
    height: auto;
    border: 3px solid white;
    border-radius: 50px 21px 50px 21px;
    margin: 5px;
  }

  .banner-destaque {
    border-radius: 10px;
    width: 100%;
    height: auto;
  }
  
  * {
    font-size: 1rem;
  }
  
  h1, h2, h3 {
    font-weight: 700;
  }
  
  a {
    transition: color 0.2s;
  }
  
  a:hover {
    color: #964B00;
  }
  
  li {
    list-style-type: none;
  }
  
  footer {
    background-color: #CC7200;
    display: flex;
    justify-content: center;
    padding: 8px;
    margin-bottom: 12px;
  }

  @media(max-width: 800px){
    body{
      min-width: 100%;

      

    }
  }